<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css", "~/Content/themes/svanstrom/css")
    @Scripts.Render("~/bundles/modernizr", "~/bundles/knockoutjs", "~/bundles/jquery", "~/bundles/jqueryui", "~/bundles/jqueryval")
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
