@using N2.Web;
@model IEnumerable<Dinamico.Models.MathItem>


<ul class="trainList">
    @foreach (var item in Model)
    {
        <li>
            <div class="question">
                <span class="number">@item.Number1</span><span class="operator">@item.Operator</span>
                <span class="number">@item.Number2</span><span class="operator">=</span>
            </div>
            <input type="text" class="tb" />
            <img src="@Url.ThemedContent("~/Content/images/ok.png")" class="imgcorr" alt="" />
            <img src="@Url.ThemedContent("~/Content/images/wrong.png")" class="imgwrong" alt="" />
        </li>   
    }
</ul>

<div id="dlgResult" class="resDlg">
    <p id="pReport" class="resDlg">Du hade %x% rätt av %y% möjliga.</p>
</div>

<div id="btnValidate" class="button"><p class="buttontext nomargin nopadding nooutline">Rätta</p></div>
@{ Html.Resources().JavaScript(Url.ThemedContent("~/Scripts/mathtrain.js")); }


@section head {
    <link type="text/css" rel="stylesheet" href="@Url.ThemedContent("~/Content/Mathtrain.less")" />
}