@using JSVLib.Extensions
@using n2www_famsvanstrom.se.Dinamico.Models
@using n2www_famsvanstrom.se.Web.Mvc.Html

@model DevicePageModel

<article class="article">
    <section class="weather-box">
        <header>Klimat</header>
        <section class="temprature">
            <section class="sensor-label">Inomhus</section>
            <section class="sensor-value">@Model.Weather.IndoorTemprature&#176;C</section>
        </section>
        <section class="temprature">
            <section class="sensor-label">Utomhus</section>
            <section class="sensor-value">@Model.Weather.OutdoorTemprature&#176;C</section>
        </section>
        <section class="temprature">
            <section class="sensor-label">Luftfuktighet inne</section>
            <section class="sensor-value">@Model.Weather.IndoorHumidity %</section>
        </section>
    </section>
    <section class="status-checkbox-group">
        @foreach (var dev in Model.Devices) { 
            @Html.LightbulbCheckboxFor(b => dev.Status, new { @title = dev.Name, @id = "checkbox_" + dev.Id + "_" + dev.Name })
        }
    </section>
    <section class="house-section">
        <img class="house" src="@Url.ThemedContent("~/Content/img/hus.png")" alt="Klicka här för att skicka in status"
             title="Klicka här för att skicka in status" />
    </section>
</article>

@section scripts {

<script type="text/javascript">
    var postData = {
        OutdoorTemprature: -2.30,
        IndoorTemprature: 21.30,
        IndoorHumidity: 73.00,
        DeviceArray: [{
            Id: 1,
            Name: "Device 1",
            Status: true
        },
        {
            Id: 2,
            Name: "Device 2",
            Status: false
        }]
    };
    $(function () {
        console.log("Hej", postData);
        console.log("JSON: ", JSON.stringify(postData));

    });
    
</script>


}
