@model famsvanstrom.se.Models.Partials.WeatherPartialModel

<section class="weather">
    <section class="temprature">
        <i class="wi wi-thermometer"></i>
        <section class="sensor-label">@Model.IndoorTempratureLabel</section>
        <section class="sensor-value">@Model.Weather.IndoorTemprature&#176;C</section>
    </section>
    <section class="temprature">
        <section class="sensor-label">@Model.OutdoorTempratureLabel</section>
        <section class="sensor-value">@Model.Weather.OutdoorTemprature&#176;C</section>
    </section>
    <section class="temprature">
        <section class="sensor-label">@Model.IndoorHumidityLabel</section>
        <section class="sensor-value">@Model.Weather.IndoorHumidity %</section>
    </section>
</section>

<section class="forecast">
    <section class="forecast-caption">Väderprognos Nättraby:</section>
    <section class="forecast-hour-section f1">
        <section class="forecast-time"><span id="hour1-time" class="forecast-hour-time"></span></section>
        <section class="forecast-temprature"><span id="hour1-temprature" class="forecast-hour-temprature"></span></section>
        <section class="forecast-rainpercent"><span id="hour1-rainpercent" class="forecast-hour-rainpercent"></span><span id="hour1-thunder" class="forecast-hour-thunder-probability"></span></section>
        <section class="forecast-wind"><span id="hour1-wind" class="forecast-hour-wind"></span><span id="hour1-gust" class="forecast-hour-gust"></span></section>
    </section>
    <section class="forecast-hour-section f2">
        <section class="forecast-time"><span id="hour2-time" class="forecast-hour-time"></span></section>
        <section class="forecast-temprature"><span id="hour2-temprature" class="forecast-hour-temprature"></span></section>
        <section class="forecast-rainpercent"><span id="hour2-rainpercent" class="forecast-hour-rainpercent"></span><span id="hour2-thunder" class="forecast-hour-thunder-probability"></span></section>
        <section class="forecast-wind"><span id="hour2-wind" class="forecast-hour-wind"></span><span id="hour2-gust" class="forecast-hour-gust"></span></section>
    </section>
    <section class="forecast-hour-section f3">
        <section class="forecast-time"><span id="hour3-time" class="forecast-hour-time"></span></section>
        <section class="forecast-temprature"><span id="hour3-temprature" class="forecast-hour-temprature"></span></section>
        <section class="forecast-rainpercent"><span id="hour3-rainpercent" class="forecast-hour-rainpercent"></span><span id="hour3-thunder" class="forecast-hour-thunder-probability"></span></section>
        <section class="forecast-wind"><span id="hour3-wind" class="forecast-hour-wind"></span><span id="hour3-gust" class="forecast-hour-gust"></span></section>
    </section>
    <section class="forecast-hour-section f4">
        <section class="forecast-time"><span id="hour4-time" class="forecast-hour-time"></span></section>
        <section class="forecast-temprature"><span id="hour4-temprature" class="forecast-hour-temprature"></span></section>
        <section class="forecast-rainpercent"><span id="hour4-rainpercent" class="forecast-hour-rainpercent"></span><span id="hour4-thunder" class="forecast-hour-thunder-probability"></span></section>
        <section class="forecast-wind"><span id="hour4-wind" class="forecast-hour-wind"></span><span id="hour4-gust" class="forecast-hour-gust"></span></section>
    </section>
</section>
