@model famsvanstrom.se.Models.Partials.WeatherPartialModel

<section class="weather">
    <section class="temprature">
        <section class="sensor-label">
            <i class="wi wi-thermometer"></i>
            @Model.IndoorTempratureLabel
        </section>
        <section class="sensor-value">@Model.Weather.IndoorTemprature&#176;C</section>
    </section>
    <section class="temprature">
        <section class="sensor-label">
            <i class="wi wi-thermometer"></i>
            @Model.OutdoorTempratureLabel
        </section>
        <section class="sensor-value">@Model.Weather.OutdoorTemprature&#176;C</section>
    </section>
    <section class="temprature">
        <section class="sensor-label">@Model.IndoorHumidityLabel</section>
        <section class="sensor-value">@Model.Weather.IndoorHumidity %</section>
    </section>
</section>

<section class="w-forecast">
</section>


