@using System.Web.Optimization
@using famsvanstrom.se.Web.Mvc.Html
<!DOCTYPE html>

<html>
    <head>
        @{
            Content.PrependDefinition(re =>
                {
                    re.Tab("Content", "Content");
                    re.PublishedRange().Container("Metadata");
                    re.Title("fam-svanstrom.se");
                });
        }
        @{Html.RenderPartial("LayoutPartials/Head");}
        @Scripts.Render("~/bundles/jsvlib")
        @RenderSection("head", required: false)
    </head>
    <body>
        @{ Html.ControlPanel().Render(); }
        <header id="header" class="header">
            <section class="header-content">
                @{Html.RenderPartial("LayoutPartials/Top");}
            </section>
        </header>
        <section id="banner" class="banner">
            @{Html.DroppableZone("Banner").Render();}
        </section>
        <div class="wrapper">
            <section id="page" class="page">
                @Html.Breadcrumb(Content.Current.Page)
                @if (IsSectionDefined("main"))
                {
                    <section id="main-content" class="main">
                        @RenderSection("main")
                        @RenderSection("scripts", required: false)
                    </section>
                }
                else
                {
                    <section id="main-content" class="main">
                        @{ Html.RenderPartial("LayoutPartials/PreContent"); }
                        <article id="content" class="content">
                            @RenderBody()
                            @RenderSection("scripts", required: false)
                        </article>
                        @{ Html.RenderPartial("LayoutPartials/PostContent"); }
                    </section>
                }

            </section>
            <footer id="footer">
            </footer>
            @Scripts.Render("~/bundles/site")
        </div>
        
        <script type="text/javascript">
            var newsUrl = "http://news.google.se/news?pz=1&cf=all&ned=sv_se&hl=sv&output=rss";
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.status == 200 && xhr.readyState == 4) {
                    var xml = xhr.responseText;
                    debugger;
                }
            };
            xhr.open("GET", newsUrl, true);
            xhr.send();

        </script>
    </body>
</html>