@using N2
<!DOCTYPE html>

<html>
<head>
    @{
        Content.PrependDefinition(re =>
        {
            re.Tab("Content", "Content");
            re.PublishedRange().Container("Metadata");
            re.Title("fam-svanstrom.se");
        });
    }
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>fam-svanstrom.se - @ViewBag.Title</title>
    <link href='//fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.ThemedContent("~/Content/site.less")"/>
    <script src="@Url.Content("~/Scripts/utils.js")"></script>
    <script src="@Url.Content("~/Scripts/jsvdate.js")"></script>
    <script src="@Url.Content("~/Scripts/load.js")"></script>
    @RenderSection("head", required: false)
</head>
<body>
    @{ Html.ControlPanel().Render(); }
    <header id="header" class="header">
        <section class="header-content">
            @{Html.RenderPartial("LayoutPartials/Top");}
            <section class="site-title">@Content.Traverse.StartPage.Title
            </section>
        </section>
    </header>
    <section id="banner" class="banner">
        @{Html.DroppableZone("Banner").Render();}
    </section>
    <div class="wrapper">
        <section id="page" class="page">
            @if (IsSectionDefined("main"))
            { 
                <section id="main-content" class="main">
                    @RenderSection("main")
                    @RenderSection("scripts", required: false)
                </section>
            }
            else
            {
                <section id="main-content" class="main">
                    @{ Html.RenderPartial("LayoutPartials/PreContent"); }
                    <article id="content" class="content">
                        @RenderBody()
                        @RenderSection("scripts", required: false)
                    </article>
                    @{ Html.RenderPartial("LayoutPartials/PostContent"); }
                </section>
            }

        </section>
        <footer id="footer">
        </footer>
    </div>
</body>
</html>
